body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

  
  header, .footer {
    background-color: #dda312;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #dda312;
    padding: 10px;
    text-align: left;
  }
 
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }*/