body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://media.istockphoto.com/id/501655522/es/foto/campo-de-estrellas-por-la-noche.webp?b=1&s=170667a&w=0&k=20&c=o2a0C4WtVwTxlJisjXLITu9hsuH9j06H_3J3Xvpy9BA=);
}

.principal{
    font-size: 55px;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

  
  header, .footer {
    background-color: #0e0f27 ;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #0e0f27 ;
    padding: 10px;
    text-align: left;
  }
 
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }

  .futbol{
    text-align: center;
  }

.futbol-content {
    text-align: center;
}

.futbol-content h2 {
    font-size: 50px;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    
}

.txt-p {
    font-size: 16px;
    color: white;
    padding: 0 250px;
    margin-bottom: 35;
}

.futbol-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.futbol-1{
    padding: 0 25px;
}

.futbol-1 img{
    width: 200px;
}

.futbol-img{
    position: absolute;
    top: 0;
    right: 0;
}

.futbol-1 h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.sobre{
    border-radius: 25px;
}

.sobre-content{
    text-align: center;
}

.sobre-content h2{
    font-size: 55px;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.sobre-content p{
    font-size: 16px;
    line-height: 70px;
    margin-bottom: 50px;
    padding: 0 100px;
}

.sobre-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sobre-1{
    padding: 0 100px;
}

.sobre-1 img{
    width: 200px;
    margin-bottom: 15px;
}

.sobre-1 h3{
    color: white;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #0e0f27;
}

.general-2 {
    background-image: url(https://img.freepik.com/free-vector/thumbs-up-down-circles_78370-2598.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
    
.general-3 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/4363/4363401.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: white;
    margin: 25px 0 45px 0;
}


