body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

  
  header, .footer {
    background-color: #6198F2;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #6198F2;
    padding: 10px;
    text-align: left;
  }
 
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }

  .futbol{
    text-align: center;
  }

.futbol-content {
    text-align: center;
}

.futbol-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35;
}

.futbol-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.futbol-1{
    padding: 0 25px;
}

.futbol-1 img{
    width: 200px;
}

.futbol-img{
    position: absolute;
    top: 0;
    right: 0;
}

.futbol-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.sobre{
    background-color: aquamarine;
}

.sobre-content{
    text-align: center;
}

.sobre-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #6198F2;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.sobre-content p{
    font-size: 16px;
    line-height: 70px;
    margin-bottom: 50px;
    padding: 0 100px;
}

.sobre-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sobre-1{
    padding: 0 100px;
}

.sobre-1 img{
    width: 200px;
    margin-bottom: 15px;
}

.sobre-1 h3{
    color: black;
    font-size: 18px;
}


