body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header, .footer {
    background-color: #0e0f27 ;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.destacado {
  color: gray; 
}
  
  nav {
    background-color: #0e0f27 ;
    padding: 10px;
    text-align: left;
  }
 
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }

  
.sobre-content{
  text-align: center;
}

.sobre-content h2{
  font-size: 55px;
  line-height: 70px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 50px;
}



.sobre-content p{
  font-size: 16px;
  line-height: 70px;
  margin-bottom: 50px;
  padding: 0 100px;
}

.sobre-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sobre-1{
  padding: 0 100px;
}

.sobre-1 img{
  width: 200px;
  margin-bottom: 15px;
}

.sobre-1 h3{
  color: black;
  font-size: 18px;
}
.sobre-1 h3{
  color: black;
  font-size: 18px;
}



.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(../recursos/programador.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
    
.general-3 {
    background-image: url(https://img.freepik.com/vector-premium/programador-joven-estudiante-escribiendo-codigo-computadora_316839-1930.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}


main {
  max-width: 1060px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  text-align: right;
}

.seccion {
  border: 10px solid #142850;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  text-align: left;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}



.seccion h2 {
  margin-top: 0;
  color: black;
}

.seccion h3 {
  margin-top: 0;
  color: black;
}

.seccion p {
  margin-bottom: 30px;
  text-align: left;
  color: black;
}

.seccion .programador {
  margin: 0 auto; 
  display: block; 
  height: 400px;
  width: 400px;
}

.seccion img {
  margin: 0 auto; 
  display: block; 
  height: 400px;
  width: 800px;
}
